@font-face {
  font-family: BlackOpsOne;
  src: url(./fonts/BlackOpsOne-Regular.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: BlackOpsOne, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

:root {
  --light-background-theme: #bbe2ff;
  --background-theme: #004f90;
  --victory-theme: rgba(0, 79, 144, 0.8);
  --defeat-theme: rgba(34, 34, 34, 0.8);
  --finish-theme: rgba(102, 51, 153, 0.8);
  --text-theme: #eee;
  --text-shadow-theme: #555;
  --black-text-theme: #222;
  --transparent-theme: #0000;
  --star-theme: gold;
  --emblem-theme: #222;
  --wrapper-theme: rgba(51, 51, 51, 0.5);
  --square-theme: aliceblue;
  --square-dark-theme: #c0c7cd;
  --enemy-square-theme: rgba(0, 225, 135, 0.8);
  --border-theme: #555;
  --ship-theme: #007de3;
  --ship-hover-theme: #00e1e1;
  --cannot-do-theme: rgba(255, 69, 0, 0.9);
  --hit-one-theme: rgba(255, 69, 0, 0.9);
  --sunk-one-theme: rgba(255, 69, 0, 0.5);
  --hit-two-theme: rgba(255, 215, 0, 0.8);
  --sunk-two-theme: rgba(255, 215, 0, 0.4);
  --miss-one-theme: #888;
  --splash-one-theme: #bbb;
  --miss-two-theme: rgba(0, 225, 135, 0);
  --splash-two-theme: rgba(0, 225, 135, 0.2);
  --round-board-theme: rgba(51, 51, 51, 0.8);
  --target-theme: gold;
  --random-btn-theme: yellow;
  --random-btn-dark-theme: #cdcd00;
  --reset-btn-theme: #7bff00;
  --reset-btn-dark-theme: #62cd00;
  --play-btn-theme: aqua;
  --play-btn-dark-theme: #00cdcd;
}

body {
  height: 100vh;
  background-image: linear-gradient(var(--light-background-theme), var(--background-theme));
}

button {
  border: none;
  cursor: pointer;
}

.victory-container,
.defeat-container,
.finish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  width: 28rem;
  height: 28rem;
  padding: 2.4rem 2rem 2rem;
}

.victory-container {
  background-color: var(--victory-theme);
}

.defeat-container {
  background-color: var(--defeat-theme);
}

.finish-container {
  background-color: var(--finish-theme);
}

h2 {
  font-size: 2.3rem;
  color: var(--square-theme);
}

.victory-container h2 {
  margin-bottom: 1.2rem;
}

.defeat-container h2,
.finish-container h2 {
   margin-bottom: 1.6rem;
}

.victory-container div,
.defeat-container div,
.finish-container div {
  font-size: 1.6rem;
  color: var(--square-theme);
}

.alive-bonus {
  margin:-1rem 0 0.4rem;
}

.bonus-row {
  display: flex;
  justify-content: space-between;
  width: 22rem;
}

.total-bonus-row {
  margin-top: 0.32rem;
  padding-top: 0.68rem;
  border-top: 0.4rem dotted var(--square-theme);
}

.rank-board {
  margin-bottom: 1.2rem;
}

.comment {
  margin: 0.4rem 0 0.8rem;
}

.move-on-btn,
.try-again-btn,
.finale-btn {
  margin-top: 1.2rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  background-image: linear-gradient(var(--square-theme), var(--square-dark-theme));
}

.move-on-btn:hover,
.try-again-btn:hover,
.finale-btn:hover {
  opacity: 0.85;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 44rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 6.8rem;
  background-color: var(--wrapper-theme);
}

h1 {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.title {
  color: var(--text-theme);
  font-size: 2.4rem;
  text-shadow: 0.4rem 0.4rem 0 var(--text-shadow-theme);
}

.golden-title {
  color: var(--star-theme);
}

.emblem-holder {
  margin-top: 0.24rem;
}

.emblem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 2.4rem;
  background-image: linear-gradient(var(--emblem-theme) 1.2rem, var(--star-theme) 0 1.3rem, var(--emblem-theme) 0 1.5rem, var(--star-theme) 0 1.6rem, var(--emblem-theme) 0 1.8rem, var(--star-theme) 0 1.9rem, var(--emblem-theme) 0 2.1rem, var(--star-theme) 0 2.2rem, var(--emblem-theme) 0);
}

.emblem-star {
  margin-top: -1.26rem;
  width: 0.8rem;
  height: 0.8rem;
  filter: invert(82%) sepia(27%) saturate(3145%) hue-rotate(360deg) brightness(107%) contrast(103%);
}

.victory-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: -0.4rem 0 -2rem;
}

.victory-row div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.5rem;
}

.star {
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(82%) sepia(27%) saturate(3145%) hue-rotate(360deg) brightness(107%) contrast(103%);
}

.current-victory-board,
.highest-victory-board {
  color: var(--text-theme);
}

.score-board-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -1rem;
}

.current-score-board,
.hi-score-board {
  color: var(--text-theme);
  font-size: 1.6rem;
}

.message-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message-board {
  width: 15.6rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--square-theme);
  color: var(--black-text-theme);
  font-size: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--text-shadow-theme);
}

.random-btn,
.play-btn {
  font-size: 1.5rem;
  border-radius: 0.4rem;
  color: var(--black-text-theme);
  box-shadow: 0.2rem 0.2rem 0.2rem 0 var(--text-shadow-theme);
}

.opacity {
  opacity: 0.35;
  cursor: default;
}

.random-btn {
  width: 8rem;
  padding: 0.4rem;
  background-image: linear-gradient(var(--random-btn-theme), var(--random-btn-dark-theme));
}

.random-btn:hover {
  background-image: linear-gradient(var(--random-btn-theme));
}

.reset-btn {
  background-image: linear-gradient(var(--reset-btn-theme), var(--reset-btn-dark-theme));
}

.reset-btn:hover {
  background-image: linear-gradient(var(--reset-btn-theme));
}

.play-btn {
  padding: 0.4rem 0.8rem;
  background-image: linear-gradient(var(--play-btn-theme), var(--play-btn-dark-theme));
}

.play-btn-hover {
  background-image: linear-gradient(var(--play-btn-theme));
}

.column-marker {
  display: flex;
  gap: 2.36rem;
  margin: 0rem 0 -1.2rem;
}

.board-area-one,
.board-area-two {
  display: flex;
}

.row-marker {
  display: flex;
  flex-direction: column;
  gap: 1.44rem;
  margin: 1rem 1.4rem 0 -2.6rem;
}

.marker-top div {
  font-size: 1.6rem;
  color: var(--text-theme);
}

.marker-bottom div {
  font-size: 1.6rem;
}

.column,
.row {
  color: var(--enemy-square-theme);
}

.initial-line {
  color: var(--wrapper-theme)
}

.target-line {
  color: var(--target-theme);
}

.board-container-one,
.board-container-two {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 28rem;
  height: 28rem;
}

.deploy-section {
  background-color: var(--ship-hover-theme);
}

.square-one,
.square-two {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem dotted var(--border-theme);
}

.square-one {
  background-color: var(--square-theme);
}

.square-two {
  background-color: var(--enemy-square-theme);
}

.ship {
  background-color: var(--ship-theme);
  border: none;
  opacity: 1;
  transition: 0.15s;
}

.ship-hover {
  opacity: 0;
}

.caution {
  background-color: var(--cannot-do-theme);
  border: none;
}

.grabbing {
  cursor: grabbing;
}

.target {
  border: 0.6rem double var(--target-theme);
  cursor: crosshair;
  transition: 0.15s;
}

.hit-one {
  background-color: var(--hit-one-theme);
  border: none;
}

.sunk-one {
  background-color: var(--sunk-one-theme);
  border: none;
}

.hit-two {
  background-color: var(--hit-two-theme);
  border: none;
}

.sunk-two {
  background-color: var(--sunk-two-theme);
  border: none;
}

.miss-one {
  background-color: var(--miss-one-theme);
  border: 0.1rem dotted var(--border-theme);
}

.splash-one {
  background-color: var(--splash-one-theme);
  border: 0.1rem dotted var(--border-theme);
}

.miss-two {
  background-color: var(--miss-two-theme);
  border: 0.1rem dotted var(--border-theme);
}

.splash-two {
  background-color: var(--splash-two-theme);
  border: 0.1rem dotted var(--border-theme);
}

.initial {
  cursor: default;
  background-color: var(--wrapper-theme);
}

.round-board {
  visibility: hidden;
  font-size: 2.6rem;
  color: var(--round-board-theme);
  opacity: 0;
  translate: 0 -17.6rem;
}

.display-round {
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

.dark {
  opacity: 0.6;
  cursor: default;
}

footer {
  margin-top: -4.8rem;
}

.footer-link {
  color: var(--enemy-square-theme);
  text-decoration: none;
  font-size: 1.3rem;
}

.initial-footer-link {
  color: var(--wrapper-theme);
}

.footer-link:hover {
  color: var(--target-theme);
}
