@font-face {
  font-family: BlackOpsOne;
  src: url(./fonts/BlackOpsOne-Regular.woff2) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlackOpsOne, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

:root {
  --light-background-theme: #bbe2ff;
  --background-theme: #004f90;
  --victory-theme: rgba(0, 79, 144, 0.8);
  --defeat-theme: rgba(34, 34, 34, 0.8);
  --finish-theme: rgba(102, 51, 153, 0.8);
  --text-theme: #eee;
  --text-shadow-theme: #555;
  --black-text-theme: #222;
  --white-text-theme: aliceblue;
  --transparent-theme: #0000;
  --star-theme: gold;
  --emblem-theme: #222;
  --wrapper-theme: rgba(51, 51, 51, 0.5);
  --initial-theme: rgba(51, 51, 51, 0.5);
  --square-theme: aliceblue;
  --square-dark-theme: #c0c7cd;
  --enemy-square-theme: rgba(0, 225, 130, 0.85);
  --border-theme: #555;
  --ship-theme: #007de3;
  --ship-hover-theme: #55b2ff;
  --ship-focus-theme: #55b2ff;
  --cannot-do-theme: orangered;
  --hit-one-theme: orangered;
  --hit-two-theme: gold;
  --miss-one-theme: aliceblue;
  --splash-one-theme: rgba(240, 248, 255, 0.5);
  --miss-two-theme: rgba(0, 225, 135, 0.75);
  --splash-two-theme: rgba(0, 225, 135, 0.45);
  --round-board-theme: rgba(51, 51, 51, 0.75);
  --target-theme: gold;
  --random-btn-theme: yellow;
  --random-btn-dark-theme: #cdcd00;
  --reset-btn-theme: #7bff00;
  --reset-btn-dark-theme: #62cd00;
  --play-btn-theme: aqua;
  --play-btn-dark-theme: #00cdcd;
}

html {
  font-size: 10px;
}

body {
  background-image: linear-gradient(var(--light-background-theme), var(--background-theme));
}

ul {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44rem;
  height: 100vh;
  margin: 0 auto;
  padding: 6rem 0 12rem;
  background-color: var(--wrapper-theme);
}

.header {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.title {
  color: var(--text-theme);
  font-size: 2.6rem;
  text-shadow: 0.4rem 0.4rem 0 var(--text-shadow-theme);
}

.golden-title {
  color: var(--star-theme);
}

.emblem-holder {
  margin-top: 0.24rem;
}

.emblem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 2.4rem;
  background-image: linear-gradient(var(--emblem-theme) 1.2rem, var(--star-theme) 0 1.3rem, var(--emblem-theme) 0 1.5rem, var(--star-theme) 0 1.6rem, var(--emblem-theme) 0 1.8rem, var(--star-theme) 0 1.9rem, var(--emblem-theme) 0 2.1rem, var(--star-theme) 0 2.2rem, var(--emblem-theme) 0);
  box-shadow: 0.2rem 0.2rem 0.4rem var(--text-shadow-theme);
}

.emblem-star {
  margin-top: -1.26rem;
  width: 0.8rem;
  height: 0.8rem;
  background: url(./icons/star.svg) no-repeat;
  filter: invert(82%) sepia(27%) saturate(3145%) hue-rotate(360deg) brightness(107%) contrast(103%);
}

.rotate-emblem {
  animation: rotate-emblem 1s;
}

@keyframes rotate-emblem {
  from {
    transform: rotate3d(1, 0, 0, 1turn);
  }

  to {
    transform: rotate(1, 0, 0, 1turn);
  }
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:1.2rem 0;
}

.victory-row {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.victory-row div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.star {
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(82%) sepia(27%) saturate(3145%) hue-rotate(360deg) brightness(107%) contrast(103%);
}

.current-victory-board,
.highest-victory-board {
  color: var(--text-theme);
  font-size: 1.5rem;
}

.score-board-row {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  margin: -0.4rem 0 0.8rem;
}

.current-score-board,
.hi-score-board {
  color: var(--text-theme);
  font-size: 1.6rem;
}

.message-row {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.message-board {
  width: 15.6rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--square-theme);
  color: var(--black-text-theme);
  font-size: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.4rem var(--text-shadow-theme);
}

.random-btn,
.play-btn {
  font-size: 1.5rem;
  border-radius: 0.4rem;
  color: var(--black-text-theme);
  box-shadow: 0.2rem 0.2rem 0.4rem var(--text-shadow-theme);
}

.disabled {
  opacity: 0.35;
  cursor: default;
}

.random-btn {
  width: 8rem;
  padding: 0.4rem;
  background-image: linear-gradient(var(--random-btn-theme), var(--random-btn-dark-theme));
}

.random-btn:hover {
  background-image: linear-gradient(var(--random-btn-theme));
}

.reset-btn {
  background-image: linear-gradient(var(--reset-btn-theme), var(--reset-btn-dark-theme));
}

.reset-btn:hover {
  background-image: linear-gradient(var(--reset-btn-theme));
}

.play-btn {
  padding: 0.4rem 0.8rem;
  background-image: linear-gradient(var(--play-btn-theme), var(--play-btn-dark-theme));
}

.play-btn-hover {
  background-image: linear-gradient(var(--play-btn-theme));
}

.board-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  width: 100%;
}

.board-area-one,
.board-area-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.board-area-one {
  margin-bottom: -1rem;
}

.column-marker {
  display: flex;
  gap: 2.36rem;
}

.board-area-one-row,
.board-area-two-row {
  display: flex;
}

.row-marker {
  display: flex;
  flex-direction: column;
  gap: 1.44rem;
  margin: 1rem 1.2rem 0 -2.6rem;
}

.marker-top li {
  font-size: 1.6rem;
  color: var(--text-theme);
}

.marker-bottom li {
  font-size: 1.6rem;
}

.column,
.row {
  color: var(--enemy-square-theme);
}

.initial-line {
  color: var(--initial-theme)
}

.target-line {
  color: var(--target-theme);
}

.board-container-one,
.board-container-two {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 28rem;
  height: 28rem;
}

.deploy-time {
  background-color: var(--ship-hover-theme);
}

.square-one,
.square-two {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem dotted var(--border-theme);
}

.square-one {
  background-color: var(--square-theme);
}

.square-two {
  background-color: var(--enemy-square-theme);
}

.square-one:focus,
.square-two:focus {
  outline: none;
}

.ship {
  background-color: var(--ship-theme);
  border: none;
}

.ship-hover {
  background-color: var(--ship-hover-theme);
}

.square-one-focus {
  background-color: var(--ship-focus-theme);
}

.caution {
  background-color: var(--cannot-do-theme) !important;
  border: none;
}

.grabbing {
  cursor: grabbing;
}

.target {
  border: 0.6rem double var(--target-theme);
  cursor: crosshair;
  opacity: 0;
  transition: 0.3s ease-in;
}

.on-target {
  opacity: 1;
}

.hit-one {
  background-color: var(--transparent-theme);
  background-image: repeating-linear-gradient(var(--hit-one-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem), repeating-linear-gradient(90deg, var(--hit-one-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem);
  border: 0.1rem dotted var(--border-theme);
  opacity: 0.85;
}

.hit-two {
  background-color: var(--transparent-theme);
  background-image: repeating-linear-gradient(var(--hit-two-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem), repeating-linear-gradient(90deg, var(--hit-two-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem);
  border: 0.1rem dotted var(--border-theme);
  opacity: 0.85;
}

.sunk-one,
.sunk-two {
  opacity: 0;
}

.sunk-transition {
  transition: opacity 2s;
}

.miss-one,
.splash-one,
.miss-two,
.splash-two {
  background-color: var(--transparent-theme);
}

.miss-one {
  background-image: repeating-linear-gradient(var(--miss-one-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem), repeating-linear-gradient(90deg, var(--miss-one-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem);
  border: 0.1rem dotted var(--border-theme);
}

.splash-one {
  background-image: repeating-linear-gradient(var(--splash-one-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem), repeating-linear-gradient(90deg, var(--splash-one-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem);
  border: 0.1rem dotted var(--border-theme);
}

.miss-two {
  background-image: repeating-linear-gradient(var(--miss-two-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem), repeating-linear-gradient(90deg, var(--miss-two-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem);
  border: 0.1rem dotted var(--border-theme);
}

.splash-two {
  background-image: repeating-linear-gradient(var(--splash-two-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem), repeating-linear-gradient(90deg, var(--splash-two-theme) 0 0.3rem, var(--transparent-theme) 0 0.6rem);
  border: 0.1rem dotted var(--border-theme);
}

.initial {
  cursor: default;
  background-color: var(--initial-theme);
}

.round-board {
  font-size: 2.6rem;
  color: var(--round-board-theme);
  opacity: 0;
  transform: translate(0, -16.8rem);
}

.display-round {
  opacity: 1;
  transition: opacity 1.5s;
}

.erase-round {
  visibility: hidden;
}

.dark {
  opacity: 0.6;
  cursor: default;
}

.victory-container,
.defeat-container,
.finish-container,
.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  width: 28rem;
  height: 28rem;
  padding: 2.4rem 2rem 2rem;
}

.victory-container {
  background-color: var(--victory-theme);
}

.defeat-container {
  background-color: var(--defeat-theme);
}

.finish-container {
  background-color: var(--finish-theme);
}

.confirmation-container {
  justify-content: center;
  gap: 1.2rem;
  padding-bottom: 4rem;
}

h2 {
  font-size: 2.3rem;
  color: var(--white-text-theme);
}

.victory-container h2 {
  margin-bottom: 1.2rem;
}

.defeat-container h2,
.finish-container h2 {
   margin-bottom: 1.6rem;
}

.confirmation-container h2 {
  font-size: 1.9rem;
}

.victory-container p,
.defeat-container p,
.finish-container p {
  font-size: 1.6rem;
  color: var(--white-text-theme);
}

.alive-bonus {
  margin: -1rem 0 0.4rem;
}

.bonus-row {
  display: flex;
  justify-content: space-between;
  width: 22rem;
}

.total-bonus-row {
  margin-top: 0.32rem;
  padding-top: 0.68rem;
  border-top: 0.4rem dotted var(--white-text-theme);
}

.rank-board {
  margin-bottom: 1.2rem;
}

.comment {
  margin: 0.4rem 0 0.8rem;
}

.btn-container {
  display: flex;
  gap: 2rem;
}

.move-on-btn,
.try-again-btn,
.finale-btn,
.do-reset-btn,
.cancel-btn {
  margin-top: 1.2rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  background-image: linear-gradient(var(--square-theme), var(--square-dark-theme));
}

.move-on-btn:hover,
.try-again-btn:hover,
.finale-btn:hover,
.do-reset-btn:hover,
.cancel-btn:hover {
  opacity: 0.85;
}

.link-section {
  margin-top: -2.4rem;
}

.admin-link {
  color: var(--enemy-square-theme);
  text-decoration: none;
  font-size: 1.3rem;
}

.initial-admin-link {
  color: var(--initial-theme);
}

.admin-link:hover {
  color: var(--target-theme);
}

@media screen and (orientation: portrait) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (orientation: landscape) and (max-width: 80rem) {
  .wrapper {
    height: auto;
  }
}

@media screen and (max-width: 20rem) {
  html {
    font-size: 5.5px;
  }
}

@media screen and (min-width: 20.01rem) and (max-width: 24rem) {
  html {
    font-size: 6.5px;
  }
}

@media screen and (min-width: 20.01rem) and (max-width: 24rem) and (min-height: calc(44rem - 100px)) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (min-width: 24.01rem) and (max-width: 47.99rem) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (min-width: 24.01rem) and (max-width: 47.99rem) and (min-height: calc(50rem - 100px)) {
  html {
    font-size: 8.5px;
  }
}

@media screen and (min-width: 24.01rem) and (max-width: 47.99rem) and (min-height: calc(54rem - 100px)) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 48rem) and (min-height: calc(70rem - 100px)) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 48rem) and (min-height: calc(82rem - 100px)) {
  html {
    font-size: 14px;
  }
}
